<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>titanic</title>
</head>
<body>
    <header>
        <h1>Auriez-vous survécu au naufrage du Titanic ?</h1>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Envoyer</button>
        </form>
        <!-- inserer dans la balise p la valeur retrouné-->
        <h3 class="result">
            Vous auriez eu 
            {% if prediction %}
                {{ prediction }}
            {% endif %} de chance de survivre au naufrage du Titanic 
        </h3>
        <img id="" src="../static/css/titanic.svg" alt="titanic">
    </main>
    <footer>
</body>
</html>